body{
background-image: url(https://w0.peakpx.com/wallpaper/334/304/HD-wallpaper-plain-sage-green-sage-green.jpg);
}

.dish{
    text-align: center;
}

.recipe{
    background-image: url(https://w0.peakpx.com/wallpaper/334/304/HD-wallpaper-plain-sage-green-sage-green.jpg);
    

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: rgb(224, 211, 197);
    padding: 1px;
    width: 800px;
    margin: auto;
    margin-top: 20px;

    
}

.title{
    font-size: 20px;
    width: 400px;
    padding: 0px;

margin-left: 40px;
margin-bottom: 40px;
background-color:rgba(224, 211, 197, 0.5) ;
}

.intro{
    font-size: 26px;
    padding: 8px;
    margin: auto;
    text-align: center;
    color: rgba(97, 71, 71, 0.918);
}

.recipes{
    margin-left :40px;
    font-size: 26px;
    max-width: 1200px;
    color: rgb(73, 66, 56);
}