body{
background-image: url(https://w0.peakpx.com/wallpaper/334/304/HD-wallpaper-plain-sage-green-sage-green.jpg);
}

.dish{
    text-align: center;
}

.recipe{
    background-image: url(https://w0.peakpx.com/wallpaper/334/304/HD-wallpaper-plain-sage-green-sage-green.jpg);

}